$highlightColor: #12b1c9;
$contentTypeTitleTextColor:#FFF;
$contentContentText:#053043;

@import 'partials/category/_category-modules.scss';

header{
  background: rgba(43,75,84,.9);
  .cat-title{
    color: #FFF;
    font-size: 1.5em;
    margin-left: 20px;
  }
}
.main-content{
  .hero-wrapper{
    background-image: url('../images/home/bg-location-intelligence.png');
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    .headline{
      text-align:center;
      padding-top: 150px;
      padding-bottom: 150px;
    }
  }
  .page-container{
    position:relative;
  }
  .page-content{
    /*position: absolute;
    top: 0;
    left: 0;*/

    width: 100%;
  }
  .category-content{
    background: #f1f1f1;
    padding-bottom: 20px;
    .tabs{
      background: #FFF;
    }
    .tab{
      text-align:center;
      a{
        display:block;
        padding:15px;
        text-transform:uppercase;
      }
      &.active{
        border-bottom:10px solid $highlightColor;
      }
    }
    .results{
      font-size:1.5em; /* mobile size - desktop not available */
      padding:0;
      text-align:center;
      color: #727272;
    }
    .tab-pane-content{

      .content-type-title{
        display:inline-block;
        margin:0;
        padding:10px;
        color:$contentTypeTitleTextColor;
        font-size:1em; /* mobile size - desktop not available */
        background:$highlightColor;
        position:absolute;
      }
      .content-bucket{
        background-color:#FFF;
        padding:0 10px 10px 10px;
      }
      .content-bucket-type-1{
          .content-type-title{
            left:30px;
          }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  body{
    font-size: 10px;
  }
}
