$homeLinkColor: #FFF;
$homeLinkOnColor: #FFF;
$homeFontColor: #FFF;

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#home-area{
  position:absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(right top, rgba(43,71,92,1),rgba(72,146,131,1));
  background: -moz-linear-gradient(bottom left, rgba(43,71,92,1),rgba(72,146,131,1));
  background: linear-gradient(to bottom left, rgba(43,71,92,1),rgba(72,146,131,1));
}
article {
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

  h1, h2, h3, h4{
    color: #FFF;
    padding: 0;
    margin: 0;
  }

}

#wrapper {
    width: 100%;
    height: 100%;
}

article.welcome{
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

article{
  position:absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  //hover transition state
  a{
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
  }
  a:hover{
    zoom: 1;
    filter: alpha(opacity=1);
    opacity: 1;
    color: $homeLinkOnColor;
  }
  .container-fluid{
    position:relative;
    height: 100%;

    .row{
      position:absolute;
      height: 100%;
      min-width:100%;
      text-align:center;
      .headline{
        position:relative;
        top: 25%;
      }
      h1, h2{
        display:block;
        color: $homeFontColor;
        font-weight: normal;
        margin: 0;
        padding: 0;
        font-size: 5em;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
      }
      p{
        color: $homeFontColor;
        font-weight:lighter;
        font-size: 2em;
        a,a:hover{
          color: $homeLinkColor;
          text-decoration: none;
        }
        a:hover{
          color: $homeLinkOnColor;
        }
      }
     }
    .links{
      position:relative;
      top: 80%;
    }
    .cat{
      position:relative;
      margin-top: 0;
      /*min-height: 80px;
      border-right: 1px solid rgba(255,255,255,.3);*/
      padding: 0 1.5625%;
      &.inactive a {
        opacity:.35;
      }
      a, a:hover{
        z-index:5;
        color: $homeLinkColor;
        font-size: 1.333em;
        text-decoration: none;
        height: 100%;
        position:relative;
        padding: 20px 0;
        display:inline-block;
        width: 100%;
      }
    }
    .cat.last{
      border-right: none;
    }
    .down-arrow{
      display:none;
    }
  }

  // article background styles
  &.default{
    background-image: url('../images/home/bg-brand-story.png');
    background-size: auto;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  &.category-1{
    //background-image: url('../images/bg-cat1.jpeg');
  }
  &.category-2{
    background-image: url('../images/home/bg-location-intelligence.png');
  }
  &.category-3{
    //background-image: url('../images/bg-cat3.jpg');
  }
  &.category-4{
    background-image: url('../images/home/bg-shipping-mailing.png');
  }
  &.category-5{
    background-image: url('../images/home/bg-global-ecommerce.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .touch{
    .visible-xs.group{
      display: block !important;
    }
    .hidden-xs.page-title, .hidden-xs.links{
      display: none !important;
    }
      body{
        background: -webkit-linear-gradient(right top, rgba(43,71,92,1),rgba(72,146,131,1));
        background: -moz-linear-gradient(bottom left, rgba(43,71,92,1),rgba(72,146,131,1));
        background: linear-gradient(to bottom left, rgba(43,71,92,1),rgba(72,146,131,1));
      }
      #home-area{
        position:static;
        height: auto;
        width: 100%;
        background: none;
      }
      article{
        background: none;
        position:static;
        height: auto;
        width: 100%;
        padding: 50px 0;
        h1, h2{
          font-size: 3.5em;
          font-weight: normal;
          margin-bottom:15px;
        }
        p.larger{
          font-size: 2.375em;
          a, a:hover{
            color:$homeLinkColor;
            text-decoration: none;
          }
          a:hover{
            color: $homeLinkOnColor;
          }

        }
        p{
          color: $homeFontColor;
          font-size:1.6em;
        }
      }
      article.welcome{
        .catbg{
          display:none;
        }
        position:static;
        width: auto;
        height: auto;
        padding: 50px 0;
        display:block;
        .container-fluid{
          .row{
            position:static;
          }
        }
      }
      article.welcome#welcome{
        background: none;
      }
      article
      {
        background-size:auto 80%;
        background-position:center center;
        background-repeat:no-repeat;
      }
      article.category-1{
        min-height:228px;
        /*background-image: url('../images/home/mobile/bg-global-ecommerce.png');*/
      }
      article.category-2{
        min-height:198px;
        background-image: url('../images/home/mobile/bg-location-intelligence.png');
      }
      article.category-3{
        min-height:198px;
        /*background: #176D90;*/
      }
      article.category-4{
        min-height:198px;
      }
      article.category-5{
        min-height:233px;
        /*background-image: url('../images/home/mobile/bg-global-ecommerce.png');*/
      }
  }
}


@media screen and (max-width: 767px){
    body{
      background: -webkit-linear-gradient(right top, rgba(43,71,92,1),rgba(72,146,131,1));
      background: -moz-linear-gradient(bottom left, rgba(43,71,92,1),rgba(72,146,131,1));
      background: linear-gradient(to bottom left, rgba(43,71,92,1),rgba(72,146,131,1));
    }
    #home-area{
      position:static;
      height: auto;
      width: 100%;
      background: none;
    }
    article{
      background: none;
      position:static;
      height: auto;
      width: 100%;
      padding: 50px 0;
      h1, h2{
        font-size: 3.5em;
        font-weight: normal;
        margin-bottom:15px;
      }
      p.larger{
        font-size: 2.375em;
        a, a:hover{
          color:$homeLinkColor;
          text-decoration: none;
        }
        a:hover{
          color: $homeLinkOnColor;
        }

      }
      p{
        color: $homeFontColor;
        font-size:1.6em;
      }
      // article background styles
      &.default,
      &.category-1,
      &.category-2,
      &.category-3,
      &.category-4,
      &.category-5{
        background-image:none;
      }

    }
    article.default,
    article.welcome{
      position:static;
      width: auto;
      height: auto;
      padding: 50px 0;
      display:block;
      background:none;
      .container-fluid{
        .row{
          position:relative;
          .headline{
            position:static;
          }
        }
      }
    }
    article.welcome#welcome{
      background: none;
    }
    article
    {
      background-size:auto 80%;
      background-position:center center;
      background-repeat:no-repeat;
    }
    article.category-1{
      min-height:228px;
      /*background-image: url('../images/home/mobile/bg-global-ecommerce.png');*/
    }
    article.category-2{
      min-height:198px;
      background-image: url('../images/home/mobile/bg-location-intelligence.png');
    }
    article.category-3{
      min-height:198px;
      /*background: #176D90;*/
    }
    article.category-4{
      min-height:198px;
    }
    article.category-5{
      min-height:233px;
      /*background-image: url('../images/home/mobile/bg-global-ecommerce.png');*/
    }
}
