// bower:scss
// endbower


@import 'partials/_custom-variables';
@import 'vendors/bootstrap/_bootstrap-custom';
@import 'vendors/_animate';
@import 'partials/_menu';

/*BOOTSTRAP STYLE OVERRIDES*/
.container-fluid{
  max-width: $maxWidth;
  width: 100%;
  padding: 0;
}
.container-fluid .row{
  margin-left: 0;
  margin-right: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding-left: $gutterWidth;
  padding-right: $gutterWidth;
  box-sizing: border-box;
}

//GENERAL STYLES
body{
  font-size: 12px;
  margin: 0;
  padding: 0;
  overflow-y:scroll;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.icn{
  margin-left:8px;
  display:inline-block;
}
.icn-caret{
  width:5px;
  height:12px;
  background-image: url('../images/sprite-mobile/icn-right-arrow2x.png');
  background-size:100% auto;
  background-repeat:no-repeat;
}

//TABLET GENERAL STYLES HERE
@media screen and (min-width: 768px) and (max-width: 1024px){


}

//MOBILE GENERAL STYLES HERE
@media (max-width: 767px) {
  body{
    font-size: 8px;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
  .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
  .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
  .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
  .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
  .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
  .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
  .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
  .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
  .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
  .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
  .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-left: 5%;
    padding-right: 5%;
  }
}

//SMALL MOBILE GENERAL STYLES HERE (MAY NOT NEED OR MAY ADJUST MAX-WIDTH)
@media (max-width: 480px) {

}
