.social-container{
  list-style:none;
  text-align:center;
  text-transform:uppercase;
  margin-top:35px;
  color:#000;

  .share-copy{
    text-align:center;
    font-size:2em;
    line-height:1em;
    margin-bottom:.5em;
    +ul.social{
      text-align:center;
    }
  }
  li{
    display:inline-block;
    padding:10px 0;

    a{
      display:inline-block;
      width:26px;
      height:26px;
      background-repeat:no-repeat;
    }

    + li {
      margin-left:5px;
    }
    &.border-left{
      border-left:1px solid #000;
      padding-left:10px;
      margin-left:10px;
    }
    &.icn-fb,
    &.icn-tw,
    &.icn-yt,
    &.icn-in{
      width: 26px;
      height: 26px;
      display:inline-block;
      background-repeat: no-repeat;
    }

    &.icn-fb{
      a {
        background-image: url('../images/sprite/icon-facebook-dark.png');
      }
    }
    &.icn-tw{
      a {
        background-image: url('../images/sprite/icon-twitter-dark.png');
      }
    }
    &.icn-in{
      a {
        background-image: url('../images/sprite/icon-linkedin-dark.png');
      }
    }
    &.icn-yt{
      a {
        background-image: url('../images/sprite/icon-yt-dark.png');
      }
    }
    &.icn-email{
      a {
        background-image: url('../images/sprite/icon-email-dark.png');
      }
    }
    &.icn-dl{
      a {
        background-image: url('../images/sprite/icon-download-dark.png');
      }
    }
  }

  &.light{
    li{
      &.border-left{
        border-color:#FFF;
      }
      &.icn-fb{
        a {
          background-image: url('../images/sprite/icon-facebook-light.png');
        }
      }
      &.icn-tw{
        a {
          background-image: url('../images/sprite/icon-twitter-light.png');
        }
      }
      &.icn-in{
        a {
          background-image: url('../images/sprite/icon-linkedin-light.png');
        }
      }
      &.icn-email{
        a {
          background-image: url('../images/sprite/icon-email-light.png');
        }
      }
      &.icn-dl{
        a {
          background-image: url('../images/sprite/icon-download-light.png');
        }
      }
    }
  }
}
.long-form-content .copy-section .share-copy{
  text-align:center;
}
footer .social-container{
  text-align:left;
  margin-top: 0;
  li{
    padding-top: 0;
    padding-bottom: 0;
  }
}

//MOBILE GENERAL STYLES HERE
@media (max-width: 767px) {
  .social-container{
    list-style:none;
    text-align:center;
    text-transform:uppercase;
    margin-top:35px;
    color:#000;

    .share-copy{
      text-align:center;
      font-size:2em;
      line-height:1em;
      margin-bottom:.5em;
      +ul{
        text-align:center;
      }
    }
    li{
      display:inline-block;
      padding:10px 0;

      a{
        display:inline-block;
        width:26px;
        height:26px;
        background-repeat:no-repeat;
      }

      + li {
        margin-left:5px;
      }
      &.border-left{
        border-left:1px solid #000;
        padding-left:10px;
        margin-left:10px;
      }
      &.icn-fb a,
      &.icn-tw a,
      &.icn-yt a,
      &.icn-in a,
      &.icn-email a{
        background-size: 18px 18px;
        width: 18px;
        height: 18px;
      }
      &.icn-dl a{
        width: 16px;
        height: 16px;
        top: 2px;
        background-size: 16px 16px;
      }
      &.icn-fb{
        a {
          background-image: url('../images/sprite-mobile/icon-facebook-dark.png');
        }
      }
      &.icn-tw{
        a {
          background-image: url('../images/sprite-mobile/icon-twitter-dark.png');
        }
      }
      &.icn-in{
        a {
          background-image: url('../images/sprite-mobile/icon-linkedin-dark.png');
        }
      }
      &.icn-email{
        a {
          background-image: url('../images/sprite/icon-email-dark.png');
        }
      }
      &.icn-dl{
        a {
          background-image: url('../images/sprite/icon-download-dark.png');
        }
      }
    }

    &.light{
      li{
        &.icn-fb{
          a {
            background-image: url('../images/sprite/icon-facebook-light.png');
          }
        }
        &.icn-tw{
          a {
            background-image: url('../images/sprite/icon-twitter-light.png');
          }
        }
        &.icn-in{
          a {
            background-image: url('../images/sprite/icon-linkedin-light.png');
          }
        }
        &.icn-email{
          a {
            background-image: url('../images/sprite/icon-email-light.png');
          }
        }
        &.icn-dl{
          a {
            background-image: url('../images/sprite/icon-download-light.png');
          }
        }
      }
    }
  }
}
