//generic module styles
$catHeader: #12b1c9;
$catHeaderLight: #FFF;
$catHeaderDark: #888;
$catLink: #12b1c9;

$grid-gutter-width:1.5625%;

.main-content{
  .hero-wrapper{
    background-image: url('../images/home/bg-location-intelligence.png');
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;

    .type-cat.border{
      a{
        padding-right: 20px;
        border-right: 1px solid $catHeaderDark;
        margin-right: 20px;
      }
      a.last{
        border-right: none;
      }
    }
    .type-cat.white{
      a{
        color: white;
        border-right: 1px solid #FFF;
      }
      a.last{
        border-right: none;
      }
    }
    .type-cat.pos{
      position:absolute;
      top:70px;
      margin-left:$grid-gutter-width;
    }

    .headline{
      text-align:center;
      padding-top: 150px;
      padding-bottom: 150px;
    }
  }
}

.long-form-content{
  text-align:center;

  .hero{
    padding:150px 0;
  }
  .main-content{
    .hero-wrapper{
      background-image: url('../images/long-form-content/hero/content-peugeot-citroen.jpg');
      .headline{
        padding:0; // moved to hero
        h1{
          margin-bottom:30px;
        }
      }
    }
  }

}

.long-form-content{
  &.barbican{
    .main-content{
      .hero-wrapper{
        background-image: url('../images/long-form-content/hero/barbican.jpg');
      }
    }
  }
  &.schwan{
    .main-content{
      .hero-wrapper{
        background-image: url('../images/long-form-content/hero/schwan.jpg');
      }
    }
  }
  &.nationwide{
    .main-content{
      .hero-wrapper{
        background-image: url('../images/long-form-content/hero/nationwide.jpg');
      }
    }
  }
}
