//generic module styles
$catHeader: #12b1c9;
$catHeaderLight: #FFF;
$catHeaderDark: #888;
$catLink: #12b1c9;

$grid-gutter-width:1.5625%;

.main-content{
  .hero-wrapper{
    background-image: url('../images/home/bg-location-intelligence.png');
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;

    .headline{
      text-align:center;
      padding-top: 150px;
      padding-bottom: 150px;
    }
  }
}

.long-form-content{
  text-align:center;

  .hero{
    padding:150px 0;
    position:relative;
  }
  .main-content{
    .hero-wrapper{
      background-image: url('../images/long-form-content/hero/content-peugeot-citroen.jpg');
      .headline{
        padding:0; // moved to hero
        h1{
          margin-bottom:30px;
        }
      }
    }
  }

}

.long-form-content{
  &.barbican{
    .main-content{
      .hero-wrapper{
        background-image: url('../images/long-form-content/hero/barbican.jpg');
      }
    }
  }
  &.schwan{
    .main-content{
      .hero-wrapper{
        background-image: url('../images/long-form-content/hero/schwan.jpg');
      }
    }
  }
  &.nationwide{
    .main-content{
      .hero-wrapper{
        background-image: url('../images/long-form-content/hero/nationwide.jpg');
      }
    }
  }
}



@media (max-width: 767px){

  .long-form-content{
    .main-content{
      .hero-wrapper{
        background-image: url('../images/long-form-content/hero/content-peugeot-citroen-m.jpg');
      }
    }

    &.barbican{
      .main-content{
        .hero-wrapper{
          background-image: url('../images/long-form-content/hero/barbican-m.jpg');
        }
      }
    }
    &.schwan{
      .main-content{
        .hero-wrapper{
          background-image: url('../images/long-form-content/hero/schwan-m.jpg');
        }
      }
    }
    &.nationwide{
      .main-content{
        .hero-wrapper{
          background-image: url('../images/long-form-content/hero/nationwide-m.jpg');
        }
      }
    }
  }

}
