article#story-1{
  .container-fluid{
    position:relative;
    width: 100%;
    height: 100%;
    .story-title{
      position:absolute;
      height: 100%;
      padding-top: 35%;
      h3{
        position:relative;
        font-size: 2.5em;
        color: white;
        margin: 0;
        padding: 0 0 10px 0;
        border-bottom: 1px solid #FFF;
      }
      p{
        position:relative;
        color: #FFF;
        font-size: 1.5em;
        margin-top: 30px;
      }
    }
    .down-arrow{
      position:absolute;
      width: 70px;
      height: auto;
      margin-left: -35px;
      left: 50%;
      bottom: 100px;
      cursor: pointer;
    }
  }

}
